/* .main{
    width: 300px;
    border: 5px solid black;
}
.buttons{
    height: 3em;
    width: 3em;
}
.self{
    width: 3em;
    height: 3em;
} */
 .main{
    
    border: 2px solid rgb(113, 106, 106);
 }
 
